* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Contenedor-Nav-docente {
    background-color: #9A9A91;
    display: flex;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Contenedor-Nav-docente div {
    display: flex;
}

.Contenedor-Nav-docente .Usuario-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3498DB;
}

.Contenedor-Nav-docente .nav-menu {
    display: flex;
    justify-content: space-between;
}

.Contenedor-Nav-docente .Logo {
    display: flex;
    align-items: center;
    padding: 0px;
}

.Contenedor-Nav-docente .UsuarioIcon {
    display: flex;
    align-items: center;
    padding: 0px;
}

.Contenedor-Nav-docente ul {
    display: flex;
    align-items: center;
}

.Contenedor-Nav-docente ul a {
    text-decoration: none;
}

.Contenedor-Nav-docente ul a li {
    color: #FFFFFF;
    list-style: none;
    padding: 0px 10px;
    font-size: 16px;
}

.Contenedor-Nav-docente ul a li:hover {
    text-decoration: underline;
}

.Contenedor-Nav-docente div a img {
    margin-right: 25px;
    width: 50px;
}

.Contenedor-Nav-docente a img {
    padding-left: 50px;
    width: 100px;
}

