* {
  margin: 0px;
  padding: 0px;
}

.contenerdor-login-a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  /* height: 100vh; */
}

.contenerdor-login-a span {
  color: white;
  font-weight: 600;
}

.contenedor-login {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5PX;
  background-color: #0CB1F2;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contenedor-login .input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #D1D1D1;
  outline: none;
}

.contenedor-login img {
  width: 90px;
}

.contenedor-login form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Configuracion botones */

.contenedor-login form .btn-ingresar {
  width: 120px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  cursor: pointer;
  background-color: #0CE86F !important;
  font-weight: 900;
}

.contenedor-login form .btn-ingresar:hover {
  /* border-radius: 0px; */
  background-color: #00c75a !important;
}

/* Error al ingresar datos erroneos */

.contenerdor-login-a .error{
  display: flex;
  justify-content: center;
}