* p, h1, h2, h3, h4, h5 {
    opacity: 0.9;
}

/* Contenido de la carta */

.linkDocente {
    text-decoration-line: underline;
    cursor: pointer;
}

.infoMaterial strong, .infoDocente strong {
    font-weight: 700;
    color: black;
    opacity: 0.9;
}

/* Esto es para centrar la carta centrar */

.padre-verMateriales {
    width: 80%;
}

/* Configuraciones del boton descargar */

.padre-btn-descargar-verMaterial {
    display: flex;
    justify-content: center;
}

.btn-descargar-verMaterial {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #0CE86F;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
}

.btn-descargar-verMaterial:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #00c75a;
}

/* Tutilos */

.infoDocente h3, .infoMaterial h3 {
    margin: 0 0 10px 0;
    justify-content: start;
}

/* Configuracion del pie del pdf */

.pie-de-pdf{
    color: black !important;
    opacity: 0.5;
}