* {
    margin: 0px;
    padding: 0px;
}

.contenedor-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.contenedor-formulario form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5PX;
    background-color: #3498DB;
    outline: none;
}

.input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    outline: none;
}

.contenedor-formulario img {
    width: 85px;
    margin-bottom: 20px;
}

.contenedor-formulario p {
    color: #FFFFFF;
    margin-bottom: 20px;
}

/* configuracion del BTN */

.contenedor-formulario .btn {
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    cursor: pointer;
    background-color: #0CE86F !important;
    font-weight: 700;
}

.contenedor-formulario .btn:hover {
    background-color: #00c75a !important;
}

/* Span de cada input */

.contenedor-formulario span, .contenedor-formulario p {
    color: white;
    font-weight: 600;
}