* {
    margin: 0px;
    padding: 0px;
}

.contenedor-perfil {
    display: flex;
}

.contenedor-perfil div h2, h3 {
    font-size: 20px;
    color: #000000;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.contenedor-perfil-docente {
    background-color: #FFFFFF;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.contenedor-materiales {
    width: 40%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    background-color: #FFFFFF;
    overflow-wrap:initial;
}

.contenedor-reconocimientos {
    width: 40%;
    margin: 5px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    overflow-wrap:initial;
}

.contenedor-perfil-docente img {
    width: 80px;
    margin-bottom: 15px;
}

.contenedor-perfil-docente p {
    font-weight:normal;
}

.pe {
    color: #000000;
}

.contenedor-perfil span{
    font-weight: bolder;
}

.contenedor-perfil-docente p {
    text-align: left;
}