* {
    margin: 0px;
    padding: 0px;
}

.contenedor-perfil {
    display: flex;
}

.contenedor-perfil h2, h3 {
    font-size: 20px;
    color: #000000;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.contenedor-perfil-docente {
    background-color: #FFFFFF;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 20px;
}

.contenedor-materiales {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    overflow-wrap: initial;
}

.contenedor-reconocimientos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    overflow-wrap: initial;
}

.contenedor-perfil-docente img {
    width: 80px;
    margin-bottom: 15px;
    padding: 20px;
}

.contenedor-perfil-docente p {
    font-weight: normal;
}

.pe {
    color: #000000;
}

.contenedor-perfil span {
    font-weight: bolder;
}

.contenedor-perfil-docente p {
    text-align: left;
}

.contenedor-perfil .c {
    width: 40%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.contenedor-perfil-docente .btn-perfil {
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    color: #000000;
    opacity: 0.5;
    display: flex;
    justify-content: left;
    padding: 0px;
}

.contenedor-perfil-docente .s {
    margin-top: 20px;
}

.contenedor-perfil-docente .btn-perfil:hover {
    opacity: 1;
}

.over {
    max-height: 550px;
    overflow: auto;
}

/* BTN cerrar session */

.btn-cerrar-session {
    width: 100%;
    padding: 0 5px 0 5px;
    display: flex;
    justify-content: center;
}

/* Bajar boton de cerrar sesión */

.info-perfil {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}