* {
    margin: 0px;
    padding: 0px;
}

.contenedor-formulario-r {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.contenedor-formulario-r form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5PX;
    background-color: #3498DB;
}

.contenedor-formulario-r form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    outline: none;
}

.contenedor-formulario-r img {
    width: 85px;
    margin-bottom: 20px;
}

.contenedor-formulario-r p {
    color: #FFFFFF;
    margin-bottom: 20px;
}

.btn {
    border-radius: 5px;
}
