* {
    margin: 0px;
    padding: 0px;
}

.contenedor-formulario-r {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.contenedor-formulario-r form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5PX;
    background-color: #0CB1F2;
}

.contenedor-formulario-r form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    outline: none;
}

.contenedor-formulario-r img {
    width: 85px;
    margin-bottom: 20px;
}

/* configuracion del BTN */

.contenedor-formulario-r .btn {
    border-radius: 5px;
    left: 0;
    right: 0;
    cursor: pointer;
    background-color: #0CE86F !important;
    font-weight: 700;
    height: 45px;
}

.contenedor-formulario-r .btn:hover {
    background-color: #00c75a !important;
}

/* Span de cada input */

.contenedor-formulario-r span, .contenedor-formulario-r p {
    color: white;
    font-weight: 600;
}