* i{
  color: white;
}

.App {
  margin: 0px;
  padding: 0px;  
}

.Contenedor-app {
  background-color: #EAEDED;
  min-height: 100vh;
}

.Contenedor-app .Sub-titulo {
  font-size: 25px;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 5px;
  opacity: 0.4;
  text-align: center;
  user-select: none;
}