* {
    margin: 0px;
    padding: 0px;
}

.contenedor-docente {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.contenedor-informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.uno {
    margin-right: 20px;
}

.dos {
    margin-left: 20px;
}

.icon {
    width: 180px;
    margin-bottom: 10px;
}

.titulo {
    opacity: 0.8;
    font-size: 20px;
    font-weight: bolder;
    user-select: none;
}

.sub {
    font-size: 16px;
    user-select: none;
}

.enlaces-p {
    opacity: 0.8;
    font-size: 16px;
    font-weight: normal;
}

.enlaces-p:hover {
    text-decoration: underline;
}

.card-content .btn-principal-docente {
    width: 120px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    cursor: pointer;
    background-color: #0CE86F !important;
    font-weight: 700;
}

.card-content .btn-principal-docente:hover {
    /* border-radius: 0px; */
    background-color: #00c75a !important;
}